<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <link rel="stylesheet" href="">
</head>

<body style="padding-top: 100px;">
    <div class="container mt-5">
        <div class="d-flex justify-content-center m-5 p-5 card bg-light py-5"
            style="border: solid 3px rgb(206, 120, 191)">
            <h1 class="text-center">Add A New Post</h1>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Enter content"></textarea>
                </div>
                <button type="button" class="btn btn-light btn-outline-dark mt-3 submit">Submit</button>

            </form>
        </div>
    </div>
    <script src="/js/dash.js"></script>

</body>

</html>
